@font-face
  font-family: 'Europa'
  font-path: '../../fonts/Europa/Europa-Regular'
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'AdobeGaramondPro'
  font-path: '../../fonts/Adobe_Garamond_Pro/Adobe_Garamond_Pro-Regular'
  font-weight: normal
  font-style: normal
