body
  font-family: Europa, sans-serif

.center
  text-align: center

.container
  max-width: var(--gridWidth)
  margin: 0 auto

  & section
    margin-bottom: 40px

  & h1
    margin-bottom: 40px

  & h2
    margin-bottom: 20px

  & h3
    margin-bottom: 10px

  & h4
    margin: 16px 0

  & p
    max-width: 760px
    margin-bottom: 1em
