h1
  font: 400 36px/46px var(--sansSerif)

h2
  font: 400 34px/38px var(--sansSerif)

h3
  font: 400 30px/34px var(--sansSerif)

h4
  font: 400 18px/24px var(--sansSerif)

p
  font: 400 20px/26px var(--serif)

a
  color: var(--black)
  text-decoration: none

.button
  font: 24px/40px var(--sansSerif)
  display: inline-block
  color: var(--darkBlue)
  border: 1px solid var(--darkBlue)
  border-radius: var(--borderRadius)
  padding: 2px 40px
