/*  ================ Sizes ================ */

:root
  --sansSerif: 'Europa'
  --serif: 'AdobeGaramondPro'


/*  ================ Sizes ================ */

:root
  --sidebarWidth: 40vw
  --contentMaxWidth: 600px
  --borderRadius: 4px


/*  ================ colors ================ */

:root
  --black: #222
  --lightGray: #CCC
  --pinkish: #F97060
  --darkBlue: #2E3192
