/*  ================ Sizes ================ */

:root
  --serif: 'Europa'
  --sansSerif: 'AdobeGaramondPro'

/*  ================ Sizes ================ */

:root
  --sidebarWidth: 40vw
  --contentMaxWidth: 600px
  --borderRadius: 4px

/*  ================ colors ================ */

:root
  --fadedBlack: rgba(0, 0, 0, 0.8)
  --fadedWhite: rgba(255, 255, 255, 0.5)
  --rendiaGreen: rgba(74, 197, 184, 0.8)
  --rendiaBlue: rgba(95, 130, 219, 0.5)
  --backroomGrey: #3c3c44
