#faq
  & section
    margin-bottom: 100px

    & h2
      margin-bottom: 40px

  & strong
    font: 400 24px/28px var(--sansSerif)

  & section a
    text-decoration: underline

  & section li
    list-style-type: none
    font: 400 20px/28px var(--serif)
