#index .left
  position: fixed 0
  width: var(--sidebarWidth)
  height: 100%
  text-align: center

  & .branding
    margin-top: 20vh

#index .right
  margin-left: var(--sidebarWidth)

  & .contents
    max-width: var(--contentMaxWidth)
    margin-top: 40px
