// Global styles and helpers
@import 'global/_reset.sss'
@import 'global/_variables.sss'
@import 'global/_fonts.sss'
@import 'global/_typography.sss'
@import 'global/_global.sss'

// Components that may be used on various pages
@import 'components/_footer.sss'

// Page-specific styles
@import 'pages/_index.sss'
@import 'pages/_blog.sss'
@import 'pages/_post.sss'
